<div class="content">
    <h2><%= title %>: <%= modality.race.name %> - <%= modality.distance %> Km - <%= instance.formatted_date %></h2>
    <p><strong>Do you really want to delete this instance?</strong></p>
    <form method="post">
        <div class="form-group">
            <input id="instanceid" class="form-control" type="hidden" name="instanceid" value="<%= instance._id %>">
        </div>
        <button type="submit" class="btn btn-primary">Delete</button>
    </form>
</div>