<div class="content">
    <h2><%= title %>: <%= race.name %></h2>

    <% if (race_modalities.length > 0) { %>
        <p><strong>Delete the following modality races before attempting to delete this race.</strong></p>
        <div class="modalities">
            <h3>Modalities</h3>
            <ul>
                <% race_modalities.forEach(function(modality) { %>
                    <li>
                        <a href="<%= modality.url %>"><%= race.name %> - <%= modality.distance %> Km</a>
                    </li>
                <% }) %>
            </ul>
        </div>
    <% } else { %>
        <p><strong>Do you really want to delete this race?</strong></p>
        <form method="post">
            <div class="form-group">
                <input id="raceid" class="form-control" type="hidden" name="raceid" value="<%= race._id %>">
            </div>
            <button type="submit" class="btn btn-primary">Delete</button>
        </form>
    <% } %>
</div>